body {
 background-color: #2ECC71;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.signin{
	margin-top: 13%;
}
